<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680199080385-h7pp0icu99d7dil0gv0u3qc6ojlle9u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680199080385-h7pp0icu99d7dil0gv0u3qc6ojlle9u2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>680199080385-0974eokgflutc7h6jpi61ura55hm23h1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOqnuQ8FsGqPZf7idNO0Mu5JKQczqRZUI</string>
	<key>GCM_SENDER_ID</key>
	<string>680199080385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voklizer.app</string>
	<key>PROJECT_ID</key>
	<string>voklizer-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>voklizer-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680199080385:ios:bf4623b9d0ec0399c60740</string>
</dict>
</plist>